@use './../../Configs.scss' as configs;

body {
	&.public {
		#root {
			grid-template-rows: 100vh;
			grid-template-areas: 'main';
			background-image: url(/src/assets/public-background.svg);
			background-position: bottom;
			background-repeat: no-repeat;
			background-size: contain;
			height: 100vh;
			min-height: 600px;

			.sign {
				#icon {
					width: 70px;
					height: 70px;
					border-radius: 50%;
					position: absolute;
					left: 50%;
					top: 0;
					transform: translateX(-50%) translateY(-50%);
				}
			}
		}
	}
}
