@use './Configs.scss' as configs;

body {
	color: configs.$body-color;
	min-width: 100%;
	min-height: 100vh;
	margin: 0px;
	* {
		box-sizing: border-box;
	}
	#root {
		height: 100%;
		min-height: 100vh;
		display: grid;
		grid-template-columns: 100vw;
		main {
			grid-area: main;
			overflow-y: auto;
		}
	}

	a {
		color: configs.$links-color;
		text-decoration: none;
	}
}
