$primary: #051f39;
$secondary: #eff0f4;
$light: #6b859e;

$public-footer-height: 2.156rem;

$private-header-height: 5.75rem;
$private-footer-height: 4.25rem;

$body-color: #212529;
$body-backgroundColor: #eff0f4;

$links-color: $primary;
